.container{
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
  padding: 20px 10px 40px 10px;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat_message {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.chat_message .message {
  width: 100%;
  text-align: left;
}
.chatting {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
}

.chatting:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.chatting div {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.comment {
  margin: 10px 0;
}
.comment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}

.comment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}